{
    "presets": [
        "env",
        "stage-2",
        "react"
    ],
    "plugins": [
        "transform-runtime",      
        "dynamic-import-node",
        ["transform-decorators-legacy"]
    ]
}