node_modules/
.elasticbeanstalk/
.gitignore
build/
client/credentials.js
server/credentials.js


# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

