node_modules/
.elasticbeanstalk/
.gitignore
build/assets/images/
uploads/

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

