node_modules/
.elasticbeanstalk/
.gitignore
build/assets/images/
client/credentials.js
server/credentials.js

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

