/* News Feed */
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 88vh; */
    /* overflow: auto; */
}
.card-container::-webkit-scrollbar {
    display: none;
}

.NewsFeed .card-title {
    margin: 0 0 14px;
    font-size: 16px;
}
.NewsFeed .card-title a {
    color: #fff;
}
.NewsFeed .ant-card {
    max-width: 550px;
}